# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:fleet-albatross-283 # team: ortegajerem, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://fleet-albatross-283.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://fleet-albatross-283.convex.site
